<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow direct access to index.html
  RewriteRule ^index\.html$ - [L]

  # If the request is NOT for a real file or folder
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>
